@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html {
        --color-cannabis: rgb(2, 193, 164);
        --color-gray-hover: #3d3e42;
        --color-menu: #a3a5b6;
    }
}

html {
    background: linear-gradient(to bottom, #252528, #232227);
}